[user]
	name = Tim Wingfield
  email = tim@timwingfield.com
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
	tool = custom
  keepBackup = false
[mergetool "custom"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$PWD/$BASE" "$PWD/$LOCAL" "$PWD/$REMOTE" "$PWD/$MERGED"
  trustExitCode = false
  keepTemporaries = false
  keepBackup = false
[difftool]
  external = p4diff
[core]
  autocrlf = input
  legacyheaders = false
	editor = vim
[repack]
  usedeltabaseoffset = true
[branch]
  autosetuprebase = always
[alias]
  ci = commit
  co = checkout
  st = status
  br = branch
  ch = cherry -v origin
  mine = log --author=Tim
  spull = !git svn fetch && git svn rebase
  spush = !git svn dcommit
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[github]
  user = timwingfield
  token = d3578984cad0594ff05530bb188061be
[credential]
	helper = osxkeychain
[push]
	default = current
[rerere]
  enabled = true
